@model ProjectGenesis.Models.ViewModels.Users.EditUserViewModel


@{
}

<h1>Edit User</h1>
<form method="post" action="EditUser">
    <div class="mb-3">
        <label for="" class="form-label">Id</label>
        <input type="text" class="form-control" asp-for="Id" readonly>
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Name</label>
        <input type="text" class="form-control" asp-for="Name" >
    </div>
    
    <div class="mb-3">
        <label for="" class="form-label">Surname</label>
        <input type="text" class="form-control" asp-for="Surname">
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Email</label>
        <input type="text" class="form-control" asp-for="Email" >
    </div>
    
    <div class="mb-3">
        <label for="" class="form-label">Password</label>
        <input type="text" class="form-control" asp-for="Password" >
    </div>
    
    <div class="mb-3">
        <label for="" class="form-label">Date of Birth</label>
        <input type="date" class="form-control" asp-for="DateOfBirth">
    </div>
</form>
