@model ProjectGenesis.Models.ViewModels.Expenses.AddExpenseViewModel

@{
}

<h1>Add Expense</h1>
<form method="post" action="CreateExpense">
        <div class="mb-3">
        <label for="" class="form-label">Name</label>
        <input type="text" class="form-control" asp-for="Name">
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Purpose</label>
        <input type="text" class="form-control" asp-for="Purpose">
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Source Of Fund</label>
        <input type="text" class="form-control" asp-for="SourceOfFund">
    </div>
        <div class="mb-3">
        <label for="" class="form-label">Expense Date</label>
        <input type="date" class="form-control" asp-for="ExpenseDate">
    </div>
        <div class="mb-3">
        <label for="" class="form-label">Amount</label>
        <input type="number" class="form-control" asp-for="Amount">
    </div>
        <div class="mb-3">
        <label for="" class="form-label">Currency</label>
        <input type="text" class="form-control" asp-for="Currency">
    </div>
    
    <button type="submit" class="btn btn-primary">Submit</button>
</form>