@model ProjectGenesis.Models.ViewModels.Currencies.EditCurrencyViewModel


@{
}

<h1>Edit Currency</h1>
<form method="post" action="EditCurrency">
    <div class="mb-3">
        <label for="" class="form-label">Id</label>
        <input type="text" class="form-control" asp-for="Id" readonly>
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Name</label>
        <input type="text" class="form-control" asp-for="Name">
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Symbol</label>
        <input type="text" class="form-control" asp-for="Symbol">
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Rate</label>
        <input type="text" class="form-control" asp-for="Rate">
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
    <button type="submit" class="btn btn-danger"
            asp-action="DeleteCurrency" asp-controller="Currencies">
        Delete
    </button>
</form>
